/*fonts start*/
/* @font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#Lato-Regular') format('svg');
  } */
  
  /*fonts end*/
  
  /* ==============================
     2. Global styles
     ============================== */
  
     body {
        font-family: 'Arial', sans-serif;
        color:#5f5e5e;
        font-size: 14px;
            background: #eff1f3;
      }
      
      h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
      h1,h2,h3,h4,h5 {
        font-family: 'arial', sans-serif;
      } 
      
      ul,li {list-style-type: none;display:inline-block}
      
      p,span {font-size: 14px;color: #848484;font-weight: 300;}
      a {text-decoration: none; display: inline-block; outline: none;}
      a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
      
      img {max-width: 100%;display: inline-block;}
      
      button {border:none; outline:none; box-shadow: none; display: block; padding: 0; background: transparent;}
      input,textarea {font-family: 'Hind', sans-serif;display: block; font-size: 16px; line-height: 28px; outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
      .btns{
        display: inline-block;
        padding: 1px 8px;
        background: #898989;
        margin-left: 15px;
        color: #fff;
        font-size: 16px;
      }
      .default-btns{

      }
      .pri-btns{
          background: #00ae6e;
      }
    /*Header styling*/
    header{
      
    }
    .topHeader{
        background-color: #898989;
        padding:4px 0;    
    }
    .contact a{
        color: #ffffff;
        display: inline-block;
        font-size:12px;
    }
    .social-icon li{
        
    }
    .social-icon li a{
    display: inline-block;
    width:15px;
    height: 15px;
    background-color: #fff;
    padding:0 3px;
    border-left:1px solid #fff;
    }
    .bottomHeader{
    background-color: #fff;
    padding: 20px 0;
    }
    .bottomHeader .btns-warp{
        padding-top: 15px;
    }
    .main-navigation{
      
padding-left: 30px;
    }
    .main-navigation li{
        padding: 0 15px;
    }
    .main-navigation a{
        color: #5f5e5e;
       
    position: relative;
    transition: all 0.5s ease;
    }
    .main-navigation a:hover,.main-navigation a.active{
        color: #292929;
    }
    .main-navigation a:after{
content:'';
position: absolute;
top:100%;
width:0;
left:50%;
background: #0094aa;
height:2px;
transition: all 0.5s ease;
    }
    .main-navigation a:hover:after{
        width:100%;
        left:0%;
    }
    .logo{
      display:inline-block;
    }
    .logo a{
    font-size: 32px;
    text-transform: uppercase;
    }



/*banner*/
.banner{
    position: relative;
}
.banner-detail{

position: absolute;

top: 0;

left: 0;

height: 100%;

width: 100%;
}
.banner-detail h2{

font-size: 45px;

text-transform: uppercase;

color: #0094aa;
padding-bottom: 10px;
}
.banner-detail p{
    
}
/*sub heading*/
.subHeading{
    background:#0094aa;
    padding: 30px 0;
}    
.info-img{

width: 19%;

display: inline-block;

padding: 30px 0;
}
.info-img img{
    
}
.info-detail{

width: 79%;

display: inline-block;

vertical-align: top;

padding-left: 20px;

border-left: 1px solid #fff;

min-height: 150px;

padding-bottom: 45px;

overflow: hidden;

position: relative;
}
.info-detail h4{

color: #fff;

padding-bottom: 15px;
}
.info-detail p{

color: #fff;

font-size: 13px;

line-height: 16px;

padding-right: 40px;
}
.info-detail a{
    position: absolute;
    bottom: 0;
    color: #fff;
    background: #002f47;
    padding: 1px 5px;
    border: 1px solid #fff;
}
.toppers{
        padding: 30px 0;
}
.head-title{
    color:#5f5e5e;
    font-size:18px;
    text-transform:uppercase;
    font-weight:bold;
    padding: 12px 0;
    padding-left: 20px;
    position: relative;
}
.head-title:before{
    content:'';
    width:6px;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background: #0094aa;
}
.stu-profile{

margin: 20px 0;

border: 1px solid #e4e4e4;
}
.stu-profile .stu-img{

width: 40%;

float: left;

height: 144px;

background: #ccc;

/* width: 120px; */
}
.stu-detail{

width: 60%;

float: left;

background: #fff;

min-height: 144px;

padding: 15px 20px;
}
.stu-detail p{

color: #0094aa;

font-weight: 600;

min-height: 40px;

padding-bottom: 30px;
}
.stu-detail span{

display: block;
}
.stu-detail em{
    font-weight: bold;
    font-style: normal;
}
.brB{
    border-bottom:1px solid #ccc;
    margin-bottom: 20px;
}
.testi-profile {
    background: #fff;
    position: relative;
    margin: 0 1.5%;
    padding: 45px 20px 20px;
    width: 30%;
    float: left;
    border: 1px solid #ccc;
    margin-top: 55px;
    display: inline-block;
    /* margin: 0 1%; */
}
.testi-img {
    width: 90px;
    height: 90px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
}
.testi-detail h4{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.testi-detail p{
    font-size: 13px;
    line-height: 16px;
}
.text-detail{
    position: absolute;
    padding-top: 80px;
    width: 40%;
}
footer{
    padding:25px 0;
    background: #898989;
}
.quick-link{
    width: 45%;
}
.quick-link li{

width: 160px;
}
.quick-link a{

color: #fff;

display: inline-block;

margin-bottom: 10px;
position: relative;
transition: all 0.5s ease;
}
.quick-link a:hover{

}
.quick-link a:after{
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 50%;
    background: #0094aa;
    height: 2px;
    transition: all 0.5s ease;
}
.quick-link a:hover:after{
    width:100%;
    left:0%;
}
.footer-social{
    vertical-align: top;
    width: 200px;
    height: 50px;
}
.footer-social li{
    padding-right: 10px;
}
.footer-payment{
    display: inline-block;
    vertical-align: top;
}
.footer-payment h4{
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
}
.copy-right p{
    color:#fff;
    padding-top: 20px;
    font-size: 13px;
}